/*################################################################################################
LIGHT
################################################################################################*/
.color-light-text {
  color: var(--color-light-text);
}

.color-light-ui {
  background-color: var(--color-light-ui);
}

.color-light-bg {
  background-color: var(--color-light-bg);
}

/*################################################################################################
DARK
################################################################################################*/

.color-dark-text {
  color: var(--color-dark-text);
}

.color-dark-ui {
  background-color: var(--color-dark-ui);
}

.color-dark-bg {
  background-color: var(--color-dark-bg);
}